apache-airflow-providers-postgres
apache-airflow-providers-http

pandas
numpy
scikit-learn
xgboost

matplotlib
seaborn

joblib

psycopg2-binary

fastapi
uvicorn

requests

sqlalchemy

mlflow

python-dotenv

jupyter

ta